body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  max-width: 2560px;
  max-height: 1300px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(193.8px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

@media (max-width: 2400px) {
  .wrapper{
    grid-template-rows: repeat(auto-fit, minmax(190px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  }
}

@media (max-width: 2290px) {
  .wrapper{
    grid-template-rows: repeat(auto-fit, minmax(190px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}

@media (max-width: 2180px) {
  .wrapper{
    grid-template-rows: repeat(auto-fit, minmax(190px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  }
}

@media (max-width: 2070px) {
  .wrapper{
    grid-template-rows: repeat(auto-fit, minmax(185px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
}